<h1>Listes des Factures</h1>
<table class="table container" id="table">
    <thead>
        <button class="btn btn-success" (click)="extractExcel()"> Extract en Excel</button>

        <tr>
            <th></th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Id Commande" data-filter="fname">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Date" data-filter="lname">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Moyen de Paiement " data-filter="email">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>Date Création</th>
            <th>Date de Commande</th>
            <th>Prix HT</th>
            <th>Prix TTC</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fact of Facture" (click)="show(fact.id)">

            <td>{{fact.createdAt| date:"dd/MM/yyyy"}}</td>
            <td>{{fact.cmd[0].dateCommande| date:"dd/MM/yyyy"}}</td>
            <td>{{fact.prixHT}}</td>
            <td>{{fact.prixTTC}}</td>
            <!--<td><button mat-icon-button (click)="show(fact.id)"><mat-icon>info</mat-icon></button></td>-->
            <ng-template #showFacture>
                <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
                <div #pdfTable>
                    <img src="../../../../../assets/img/logo.png">
                    <h1>Facture n{{factureselect[0]!.id}}</h1>
                    <table class="table" id="facture">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>quantité</th>
                                <th>Prix Unitaire</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of fact.lcm">
                                <td>{{prod.prd.nomProd}}</td>
                                <td>{{prod.qte}}</td>
                                <td>{{prod.prd.prix}}</td>
                                <td>{{total(prod.qte,prod.prd.prix)}}</td>
                            </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <th colspan="3">Total HT</th>
                                <td>{{factureselect[0]!.prixHT}}</td>
                            </tr>
                            <tr>
                                <th colspan="3">TVA</th>
                                <td>{{factureselect[0]!.tva}}%</td>
                            </tr>
                            <tr>
                                <th colspan="3">Total TTC</th>
                                <td>{{factureselect[0]!.prixTTC}}</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <button style="margin-left:30%" class="btn btn-primary" (click)="generatePDF()">Export To PDF</button>
            </ng-template>
        </tr>

    </tbody>
</table>
<br/>
<br/>
<br/>
<br/>
