<h1>Listes des Factures</h1>
<table class="table container" id="table">
    <thead>
        <button class="btn btn-success"> Extract en Excel</button>

        <tr>
            <th></th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Id Commande" data-filter="fname">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Date" data-filter="lname">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
            <th>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Chercher par Moyen de Paiement " data-filter="email">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th>Id Commande</th>
            <th>Date de Commande</th>
            <th>Moyen de Paiement</th>
            <th>Totale Commande</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <ng-container>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </ng-container>
        </tr>

    </tbody>
</table>