<header class="section-header">  
   
    <mat-toolbar color="primary" class="nav navbar navbar-light border-top navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar_main">
       
            <div class="container nav2">
            
              
              <div class="collapse navbar-collapse" id="navbar_main">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Kaspersky</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Webinars</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Pc</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Impression</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Consommables</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Accessoires Informatique</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Jeux Videos</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Consoles de jeux</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Accessoires Consoles</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Composants</a>
                  </li>
               
                 
                </ul>
              </div>
            </div>
          
        </div> <!-- collapse end.// -->
      </div> <!-- container end.// -->
    </mat-toolbar> <!-- navbar end.// -->
  </header> 
  
