<header class="section-header">

    <mat-toolbar color="primary" class="nav navbar navbar-light border-top navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbar_main">

                <div class="container nav2">


                    <div class="collapse navbar-collapse" id="navbar_main">
                        <ul class="navbar-nav">
                            <li mdbDropdown class="nav-item" *ngFor="let category of Categorie" #menuTrigger1="matMenuTrigger" (mouseenter)="openMyMenu(menuTrigger1,category.id)" [matMenuTriggerFor]="menu">
                                <a mat-list-item class="custom nav-link active ">{{ category.refCateg }}</a>

                                <mat-menu #menu="matMenu">

                                    <ng-container *ngFor="let c of SousCateg">
                                        <button mat-menu-item *ngIf="category.id!=c.id" routerLink="/client/home/c.id" (click)="sendId(c.id)">  {{c.refCateg}}</button>

                                    </ng-container>
                                    <button mat-menu-item *ngIf="category.refCateg=='Kaspersky'" routerLink="/client/inscriEvent">Formation</button>
                                </mat-menu>
                            </li>

                            <li class="nav-item" [hidden]=verif>
                                <a class="custom nav-link active " routerLink="/client/configurateur" style="color:green">El configurateur</a>
                            </li>
                            <!-- <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Pc</a>
                  </li>

                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Impression</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Consommables</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Accessoires Informatique</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Jeux Videos</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Consoles de jeux</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Accessoires Consoles</a>
                  </li>
                  <li class="nav-item">
                    <a class="custom nav-link active " routerLink="/home">Composants</a>
                  </li>-->


                        </ul>
                    </div>
                </div>

            </div>
            <!-- collapse end.// -->
        </div>
        <button mat-icon-button (click)="make()" [hidden]=!search><mat-icon>search</mat-icon></button>
        <input type="search" class="form-control search" [hidden]=search placeholder="search">
        <!-- container end.// -->
    </mat-toolbar>

    <!-- navbar end.// -->
</header>
