.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
