<div class="container overflow-hidden">
    <br>
    <div class="row g-2" style="margin-left: 5%; margin-right: 5%; margin-top: 10% ; margin-bottom: 10%;">
        <div class="col-lg-3 border " style="padding: 3%; border-radius: 7%;" (click)="toAccountDetails()">
            <mat-icon class="primary">account_circle</mat-icon><br/>
            <h4>Information</h4>
        </div>
        <div class="col-lg-3 border" style="padding: 3%; border-radius: 7%; " (click)="toFactures()">
            <mat-icon class="primary">receipt</mat-icon><br/>
            <h4>Facture</h4>
        </div>
        <div class="col-lg-3 border" style="padding: 3%; border-radius: 7%; " (click)="toCommandes()">
            <mat-icon class="primary">list_alt</mat-icon><br/>
            <h4>Liste Commande</h4>
        </div>
        <div class="col-lg-3 border" style="padding: 3%; border-radius: 7%;" (click)="toTrack()">
            <mat-icon class="primary">room</mat-icon><br/>
            <h4>Track Your Order</h4>
        </div>
    </div>
    <br>
</div>