<div class="row up">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 content" (click)="toAccountDetails()">
        <mat-icon class="primary">account_circle</mat-icon><br/>
        <h4>Information</h4>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 content" (click)="toFactures()">
        <mat-icon class="primary">receipt</mat-icon><br/>
        <h4>Facture</h4>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 content" (click)="toCommandes()">
        <mat-icon class="primary">list_alt</mat-icon><br/>
        <h4>Liste Commande</h4>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 content" (click)="toTrack()">
        <mat-icon class="primary">room</mat-icon><br/>
        <h4>Track Your Order</h4>
    </div>
</div>
