<h1 style="text-align:center;margin-top:5%">Les Information du Compte</h1>

<div style="margin-left:10%;margin-top:5%">
    <h4><strong>Nom du Client:</strong>&nbsp;{{nom}}</h4><br/><br/>
    <h4><strong>Adresse du Client:</strong>&nbsp;{{adresse}}</h4><br/><br/>
    <h4><strong>Email du Client</strong>&nbsp;{{email}}</h4><br/><br/>
    <h4><strong>Telephone du Client</strong>&nbsp;{{telephone}}</h4><br/><br/>
    <h4><strong>Username du Client</strong>&nbsp;{{username}}</h4><br/><br/>
    <h4><strong>Matricule Fiscale du Client</strong>&nbsp;{{matFiscal}}</h4><br/><br/>



</div><br/><br/>
