<div>

</div>
<div class="checkout-container">
    <form style="margin-left:25%">


        <input class="form-control" formControlName="fullName" required style="width:30%">

        <button class="btn btn-primary" (click)="toggleDisplayDiv()" type="button">Track</button>
    </form>
    <div [hidden]="isShowDiv">
        <mat-stepper>
            <mat-step>
                <ng-template matStepLabel>Order Still in Progress</ng-template>




            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Order Still Shipping</ng-template>


            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Order fulilled</ng-template>


            </mat-step>
        </mat-stepper>
    </div>
</div>
