<div class="container">

</div>
<div class="checkout-container">
    <form style="margin-left:35%" [formGroup]="order">

        <label>le numero de Votre Commande</label><br/>
        <input class="form-control" formControlName="num" required style="width:50%"><br/>

        <button class="btn btn-warning" style="width:15%;margin-left:10%" (click)="toggleDisplayDiv()" type="button">Track</button>
    </form><br/><br/>
    <div [hidden]="isShowDiv" style="margin-left:40%">

        Votre Commande est :
        <th style="text-align:center">{{c[0].statusCommande}}</th>


    </div>
</div>
