<!-- dashboard.component.html -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="isSidebarOpen">
        <img src="../../../assets/img/logo.png" style="margin-left:15px" />
        <!-- Sidebar content -->
        <mat-nav-list>
            <mat-list-item routerLink="/Admin/dashboard" routerLinkActive="active">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span mat-line>Dashboard</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/product" routerLinkActive="active">
                <mat-icon mat-list-icon>product</mat-icon>
                <span mat-line>Produits</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/customers" routerLinkActive="active">
                <mat-icon mat-list-icon>people</mat-icon>
                <span mat-line>Clients</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/orders" routerLinkActive="active">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                <span mat-line>Commandes</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/retour" routerLinkActive="active">
                <mat-icon mat-list-icon>shopping_cart</mat-icon>
                <span mat-line>Demande Retour</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/listeAdmin" routerLinkActive="active">
                <mat-icon mat-list-icon>manager</mat-icon>
                <span mat-line>Admins</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/formation" routerLinkActive="active">
                <mat-icon mat-list-icon>school</mat-icon>
                <span mat-line>Formations</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/newsletter" routerLinkActive="active">
                <mat-icon mat-list-icon></mat-icon>
                <span mat-line>NewsLetter</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/magazin" routerLinkActive="active">
                <mat-icon mat-list-icon>store</mat-icon>
                <span mat-line>Liste des Magasins</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/reclamation" routerLinkActive="active">
                <mat-icon mat-list-icon></mat-icon>
                <span mat-line>Liste des Reclamations</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/livreur" routerLinkActive="active">
                <mat-icon mat-list-icon></mat-icon>
                <span mat-line>Liste des Livreurs</span>
            </mat-list-item>
            <mat-list-item routerLink="/Admin/listeConfigurateur" routerLinkActive="active">
                <mat-icon mat-list-icon></mat-icon>
                <span mat-line>Liste des Configurateur</span>
            </mat-list-item>
            <!-- Add more sidebar items as needed -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="open()">
            <mat-icon>menu</mat-icon>
          </button>
            <span class="spacer"></span>
            <span class="title">My Dashboard</span>
            <span class="spacer"></span>
            <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
            <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
            <button mat-icon-button (click)="toClient()">
            <mat-icon>exit_to_app</mat-icon>

          </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
