<section class="padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-lg-6">
                <article class="gallery-wrap">
                    <div class="img-big-wrap img-thumbnail">
                        <a data-fslightbox="mygalley" data-type="image" href="assets/images/items/10.webp">
                            <img height="560" [src]=transform(product?.image)>
                        </a>
                    </div>
                    <!-- img-big-wrap.// -->
                    <div class="thumbs-wrap">

                    </div>
                    <!-- thumbs-wrap.// -->
                </article>
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <article class="ps-lg-3">
                    <!--  <h2>{{categorie?.refCateg}}</h2><br/>-->
                    <h1 class="title text-dark"><br>{{p.nomProd}} </h1>
                    <div class="rating">
                        <mat-icon *ngFor="let i of [1, 2, 3, 4, 5]">star</mat-icon>
                    </div><br/>
                    <h5>[{{p.refprod}}]</h5>
                    <!-- rating-wrap.// -->

                    <div class="mb-3">
                        <var class="price h5">{{p.prix}}DT</var>
                        <span class="text-muted">/{{p.prixAncient}}</span>
                    </div>

                    <p>{{product?.description}}</p>



                    <hr>


                    <!-- col.// -->

                    <!-- input-group.// -->

                    <!-- col.// -->

                    <!-- row.// -->


                    <a class="btn  btn-primary"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>


                </article>
                <!-- product-info-aside .// -->
            </main>
            <!-- col.// -->
        </div>
        <!-- row.// -->

    </div>
    <!-- container .//  -->

</section>
<br>
<br>
<br>

<div>
    <mat-card style="margin-left:10%">
        <mat-card-title>Add a Comment</mat-card-title>
        <mat-card-content>
            <form>
                <div class="rating">
                    <mat-icon *ngFor="let i of [1, 2, 3, 4, 5]">star</mat-icon>
                </div>
                <mat-form-field>
                    <textarea matInput placeholder="Comment" required></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>

    </mat-card>
</div>
<!--(click)="rateComment(comment, i)" [ngClass]="{'selected': i <= comment.rating}"-->